body{
  background-color:#ff9500;
}
 h1{
  color: #000000;
  text-align: center;
  font-family: Georgia, serif;
}
h3{
  color: #000000;
  text-align: center;
  font-family: Georgia, serif;
}

h4{
  color:#000000;
  text-align: center;
}

ol {
  text-align: center;
  margin: auto;
  padding: 40px;
  width: 50%;
  border-style: solid;
    background-color:  #ffffff;
    color: #ff0000;
    border-radius: 30px;
    margin: auto;
    padding: 40px; 
}

li {
  text-align: center;
  color: #000000;
  
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-style: solid;
    background-color: #ffffff;
    color:#ff0505;
    border-radius: 40px;
    margin: auto;
    padding: 20px;
}

p{
  text-align: center;
  padding: 10px;
  width:  60%;
  margin: auto; 
   border-style: solid;
    background-color: #ffffff;
    color: #ff0000;
    border-radius: 55px;
    margin: auto;
    padding: 15px;
}

nav ol{
  list-style-type: 1; /* removes bullets */
  margin: 5px;
  padding: 0;
  overflow: hidden;
  height:10%; 
  background-color: #ffffff;
}

nav ol li{
 margin: auto;
  border-radius: 30px;
  width: 60%;
}

#wholepage{
  width:90%;
  margin: auto;
  background-color: #e8e6ab;
  box-shadow: 10px 10px 10px #000000;
}
